body {
	margin: 0;
	overflow: hidden;
}

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
}

canvas#target {
	display: block;
	outline: none;
	width: 100%;
	height: 100%;
}

#audio-controls {
	position: absolute;
	top: 0;
	right: 0;

	button {
		background: none;
		border: none;
		cursor: pointer;
		padding: 8px;
		outline: none;

		img {
			width: 24px;
		}
	}
}

.repo-link {
	position: absolute;
	bottom: 8px;
	right: 12px;

	img.icon {
		width: 22px;
		mix-blend-mode: color-burn;
		opacity: 0.2;
	}
}
